In [69]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from collections import Counter

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [3]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
my_df=pd.read_csv("./Resources/lending_data.csv")

# Review the DataFrame
my_df

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0
...,...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [23]:
# Separate the data into labels and features

# Separate the y variable, the labels
y=my_df["loan_status"]

# Separate the X variable, the features
X=my_df.drop(columns=["loan_status"])

In [24]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [25]:
# Review the X variable DataFrame
X

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000
...,...,...,...,...,...,...,...
77531,19100.0,11.261,86600,0.653580,12,2,56600
77532,17700.0,10.662,80900,0.629172,11,2,50900
77533,17600.0,10.595,80300,0.626401,11,2,50300
77534,16300.0,10.068,75300,0.601594,10,2,45300
77535,15600.0,9.742,72300,0.585062,9,2,42300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [26]:
# Check the balance of our target values
print(f"count of 0: {pd.DataFrame(y).value_counts()[0]}, count of 1: {pd.DataFrame(y).value_counts()[1]}")

count of 0: 75036, count of 1: 2500

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [57]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test=train_test_split(X,y, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [58]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model=LogisticRegression(random_state=1)

# Fit the model using training data
model.fit(X_train,y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [59]:
# Make a prediction using the testing data
prediction=model.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [60]:
# Print the balanced_accuracy score of the model
print(f"Balanced accuracy score of the model: {balanced_accuracy_score(y_test,prediction)}")

Balanced accuracy score of the model: 0.9520479254722232

In [61]:
# finding the size of the y_test
y_test.value_counts()

0    18765
1      619
Name: loan_status, dtype: int64

In [62]:
# Generate a confusion matrix for the model
test_confusion_matrix = confusion_matrix(y_test, prediction)
print("Confusion matrix:")
pd.DataFrame(test_confusion_matrix, columns=["Predicted 0", "Predicted 1"], index=["Actual 0","Actual 1"])

Confusion matrix:

          Predicted 0  Predicted 1
Actual 0        18663          102
Actual 1           56          563

In [63]:
# Print the classification report for the model
testing_classification_report = classification_report(y_test, prediction)
print(testing_classification_report)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** WRITE YOUR ANSWER HERE!

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [64]:
!pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\arupm\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\arupm\anaconda3\lib\site-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: joblib>=1.1.1 in c:\users\arupm\anaconda3\lib\site-packages (from imbalanced-learn) (1.1.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\arupm\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\arupm\anaconda3\lib\site-packages (from imbalanced-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\arupm\anaconda3\lib\site-packages (from imbalanced-learn) (2.2.0)

In [65]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros_model = RandomOverSampler(random_state=1)


# Fit the original training data to the random_oversampler model
X_res, y_res = ros_model.fit_resample(X_train, y_train)

In [72]:
# Count the distinct values of the resampled labels data
print(f"Count of classifications with RandomOverSampler {Counter(y_res)}")
print(f"Count of classifications without RandomOverSampler {Counter(y_train)}")

Count of classifications with RandomOverSampler Counter({0: 56271, 1: 56271})
Count of classifications without RandomOverSampler Counter({0: 56271, 1: 1881})

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [74]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
model_LR_ROS=LogisticRegression(random_state=1)

# Fit the model using the resampled training data
model_LR_ROS.fit(X_res, y_res)

# Make a prediction using the testing data
prediction_ROS=model_LR_ROS.predict(X_test)

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [76]:
# Print the balanced_accuracy score of the model 
print(f"Balanced accuracy score of the model: {balanced_accuracy_score(y_test,prediction_ROS)}")

Balanced accuracy score of the model: 0.9936781215845847

In [77]:
# Generate a confusion matrix for the model
test_confusion_matrix_ROS = confusion_matrix(y_test, prediction_ROS)
print("Confusion matrix using RandomOverSampler:")
pd.DataFrame(test_confusion_matrix_ROS, columns=["Predicted 0", "Predicted 1"], index=["Actual 0","Actual 1"])

Confusion matrix using RandomOverSampler:

          Predicted 0  Predicted 1
Actual 0        18649          116
Actual 1            4          615

In [78]:
# Print the classification report for the model
testing_classification_report_ROS = classification_report(y_test, prediction_ROS)
print(testing_classification_report_ROS)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.84      0.99      0.91       619

    accuracy                           0.99     19384
   macro avg       0.92      0.99      0.95     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!